name: Deploy to Server

on:
  workflow_dispatch: # This enables the manual "Run workflow" button

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/checkout@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to Server via SSH
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          ARGS: "-rlgoDzvc -i --delete"
          REMOTE_HOST: "ghosttown.ddns.net"
          REMOTE_USER: ${{ secrets.SERVER_USER }}
          TARGET: "/var/www/ghost-town" # CHANGE THIS to your actual web folder path
          EXCLUDE: "/node_modules/, /.git/"
